<form>
    <div class="form-group">
       <img src="http://localhost:3000/images/uploads/{{pizzas.picture}}" ng-model="pizzas.picture"  /> 
    </div>
    <div class="form-group">
        <label>Title</label>		
        <input class="form-control" ng-model="pizzas.name"></input>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="pizzas.description"></textarea>
    </div>
    <div class="form-group">
        <label>Price</label>
        <textarea class="form-control" ng-model="pizzas.price"></textarea>
    </div>
        <label>Category</label>
        <textarea class="form-control" ng-model="pizzas.category"></textarea>
    </div>	
</form>